<h3>{{ leyenda}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button"><i class="mdi mdi-minus" (click)="CambiarValor(-5)"></i></button>
  </span>
  <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
  <span class="input-group-btn" >
   <button class="btn btn-primary" type="button"><i class="mdi mdi-plus" (click)="CambiarValor(+5)"></i></button>
  </span>

</div>
